:root {
    --main-color: orangered;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.container {
        width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
}


/* start website settings */
.settings{
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 999;
    background-color: white;
    width: 250px;
    transition: .5s;
}
.settings.toggle{
    left: 0px;
}
.settings .icon {
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: -46px;
    
    top: 100px;
    cursor: pointer;
}
.settings .icon i {
    padding: 15px;
    font-size: 30px;
}
.settings .icon i.togglei {
    color: var(--main-color);
}

.settings .icon i:hover{
 color: var(--main-color);
}

.settings .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settings .body h4{
text-align: center;
font-weight: bold;
font-size: 18px;
color: #666;
    
}

.settings .body ul {
list-style: none;
padding: 0;
}
.settings .body ul li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}
.settings .body ul li:first-child{
    background-color: orangered;
}
.settings .body ul li:nth-child(2){
    background-color: darkgreen;
}
.settings .body ul li:nth-child(3){
    background-color:darkblue ;
}
.settings .body ul li:nth-child(4){
    background-color: slateblue;
}
.settings .body .options span{
background-color: var(--main-color);
padding: 5px 20px;
font-weight: bold;
border-radius: 8px;
color: white;
opacity: .5;
cursor: pointer;
}
.settings .body .options span.active{
    opacity: 1;
}
.settings .body .options span:first-child{
    margin-right: 10px;
}

/* end website settings */




/* Start landing page */
.land-page {
    min-height: 100vh;
    background-image: url(../images/01.jpg);
    background-size: cover;
    position: relative;
    color: white;
}

.land-page .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000005e;
    z-index: 1;
}

.land-page .header {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    z-index: 2;
}

.land-page .header .logo {
    width: 250px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.land-page .header .logo span{
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
}

.land-page .header .links {
    list-style: none;
    margin-right: 50px;

}

.land-page .header .links li {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;

}

.land-page .header .links li a {
    text-decoration: none;
    color: white;
}

.land-page .header .links li a:hover,
.land-page .header .links li a.active {
    color: var(--main-color);
}

.land-page .body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.land-page .body p {
    font-size: 23px;
}

.land-page .body h1 {
    font-size: 50px;
}

.land-page .body h1 span {
    color: var(--main-color);
}

/* end landing page */
/* start About Us */

.about-us{
padding-top: 50px;
padding-bottom: 50px;
display: flex;
flex-direction: row-reverse;

}

.image{
    flex: 1;
    text-align: center;
}
.image img {
    width: 300px;
}
.text{
flex: 1;
}
.text p {
font-weight: bold;
line-height: 2;
color: #767676;
font-size: 18px;
}
.text h1{
    color: var(--main-color);
    font-size: 35px;
}

/* end About Us */
/* start Our Skills */
.skills{
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}
.skills h1 {
    color: var(--main-color);
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}
.skills .skill{
    background-color: white;
    padding:20px;
    display: flex;
    margin-bottom: 20px;
    
}
.skills .skill .text {
   
    min-width: 140px;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}
.skill .bar {
    background-color: #eee;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.skill .bar span{
    position: absolute;
    background-color: var(--main-color);
    width: 0;
    height: 100%;
    transition: all .5s;
}






/* end Our Skills */